body{
    background-color: #E7CBCB;
    /*background-color: #FFF5E4;*/
}

h1{
    color: #643843;
    text-align: center; 
    /*color: #850E35; */
}
a{
    
    color:#643843 ;
    font-size: medium;
    font-weight: bolder;
    /*color: #850E35; */
    
}
#img-div
{
    /* margin-left: 25%; */
    /* padding-left: 12.5%; */
    color: #643843;
    text-align: center;
}
img{
    height:200px;
    width:200px;
    
    
} 
#link_align{
    text-align: center;
}
.songs-box{
    height:200px;
    width: 200px;
    padding: 20px 20px ;
    border: 10px solid black;
}
.songs-inner-box{
    width: 20px;
    height: 20px;
}

#main-para{
    text-align: center;
    color:#643843 ;
    font-size: medium;
    margin: 0px;

}

/*#99627A #C88EA7 */